{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>
        Welcome to the Ubuntu Minimal based XBMC installer
    </h1>
    <br />
    <p>
        &nbsp;&nbsp;&nbsp;This program will help you to get your dedicated XBMC machine up and running in no time.
        Because you chose to use this method you'll be able to get the most out of the Ubuntu opperating
        system and XBMC. There is no method of installation that can provide your with a more efficient
        dedicated and Linux based XBMC installation.
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;Because this application will, wherever possible, detect your hardware and allows you to choose
        to install the specific software you need nothing will be installed that you won't use. This keeps
        the system clean, stable and efficient.
    </p>
    <div style="text-align:center; margin-top:50px;">
        <button class="k-button" style="font-weight:bold;">Start installation</button>
    </div>
{% endblock %}
