{% extends "layout.html" %}
{% block title %}About XbmControl Installer{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
       	$(document).ready(function(){
       		/*
       		* System update/upgrade
       		*/
			$('#startBackup').bind('click', function(){
				$('<div title="Confirm backup creation"></div>')
					.html('Are you sure you want to create a new backup? Your current XBMC directory takes up <b>{{ xbmc_dir_size }}</b> of disk space. <b>It might take up to an additional 90% of this size to store the backup</b>.<br /><br /><b>Make sure you have enough storage room left!</b>')
					.appendTo('body')
					.dialog({
						resizable: false,
						height: 200,
						width: 450,
						modal: true,
						buttons: {
							'Yes': function() {
								$(this).dialog("close");

								showLoading('Your xbmc configuration is being backed up. This will most likely take a while depending on the speed of your computer and the size of your XBMC directory.<br /><br /><b>Please be patient and do not interrupt the process!</b>');

								api.backupXbmcConfig(function(pbSuccess){
									$.notify_osd.create({
										'text': (pbSuccess)? window.location.reload() : 'ERROR: XBMC configuration backup could not be created.'
									});

									hideLoading();
								});
							},
							'No': function() {
								$.notify_osd.create({
									'text': 'Creating backup cancelled.'
								});

							  	$(this).dialog("close");
							}
						}
			    	}
				);
			});

       		$('button.download_backup').bind('click', function(){
       			window.location.href = $(this).attr('url');
       		});

       		$('button.restore_backup').bind('click', function(){
       			var lstrBackupName = $(this).attr('name');
       			var lstrBackupDate = $(this).attr('date');

       			$('<div title="Confirm restoring backup"></div>')
					.html('Are you sure you want to restore the backup from ' +lstrBackupDate+ '?<br /><br /><b>This action wil overwrite your current configuration! Do not interrupt the process!</b>')
					.appendTo('body')
					.dialog({
						resizable: false,
						height: 175,
						width: 450,
						modal: true,
						buttons: {
							'Yes': function() {
								$(this).dialog("close");
							},
							'No': function() {
								$.notify_osd.create({
									'text': 'Restoring backup cancelled.'
								});

							  	$(this).dialog("close");
							}
						}
			    	}
				);
       		});

       		$('button.delete_backup').bind('click', function(){
       			var lstrBackupName = $(this).attr('name');
       			var lstrBackupDate = $(this).attr('date');
       			var loThis = $(this);

       			$('<div title="Delete backup"></div>')
					.html('Are you sure you want to delete the backup from ' +lstrBackupDate+ '?')
					.appendTo('body')
					.dialog({
						resizable: false,
						height: 150,
						width: 450,
						modal: true,
						buttons: {
							'Yes': function() {
								$(this).dialog("close");
								showLoading('Deleting backup. One moment please...');

								api.deleteBackup(lstrBackupName, function(pbSuccess){
									hideLoading();
									$.notify_osd.create({
										'text': (pbSuccess)? 'Backup successfully deleted.' : 'ERROR: Backup could not be deleted.'
									});

									if(pbSuccess) {
										loThis.parents('tr:first').fadeOut(1000);
									}
								});
							},
							'No': function() {
								$.notify_osd.create({
									'text': 'Deleting backup cancelled.'
								});

							  	$(this).dialog("close");
							}
						}
			    	}
				);
       		});

       		$('input[name=backup_file]').bind('change', function(){
				showLoading('Uploading backup...<br />This might take a while depending on the size of the file and your network speed.');
				$(this).parent('form').submit();
       		});
       	});
    </script>
{% endblock %}
{% block content %}
	<table width="100%">
		<tr>
			<th colspan="2">
				Backup
			</th>
		</tr>
		<tr>
			<td class="title">
				Create
			</td>
			<td>
				<button class="medium" id="startBackup" style="border:1px solid #70C510;">New backup</button>
			</td>
		</tr>
		<tr>
			<td class="title">
				Upload backup (tar.gz)
			</td>
			<td>
				<form name="upload_backup" enctype="multipart/form-data" method="POST" action="/upload_backup">
					<input type="file" name="backup_file" />
				</form>
			</td>
		</tr>
		<tr>
			<th colspan="2">
				Archive
			</th>
		</tr>
		{% for backup in backups %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td class="title" style="color:#000 !important;">
				{{ backup.hr_time }}
			</td>
			<td>
				<button class="small download_backup" url="{{ url_for('static', filename=backup.path) }}">Download</button>
				<button class="small restore_backup" name="{{ backup.name }}" date="{{ backup.hr_time }}">Restore</button>
				&nbsp;
				<button class="large delete_backup" style="border:1px solid red;" name="{{ backup.name }}" date="{{ backup.hr_time }}">Delete ({{ backup.readable_size }})</button>
			</td>
		<tr>
		{% endfor %}
	</table>
{% endblock %}
