html, body {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    background-color: #efefef;
    overflow: hidden;
}

td {
    padding: 4px;
}

a {
    text-decoration: none;
    color: #70C510;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
}


td#steps h4 {
    font-size: 20px;
    color: #3E4967;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

td#steps {
    width: 200px;
    border: 1px solid #ddd;
    padding: 20px;
    vertical-align: top;
    text-align: right;
    background-color: #fefefe;
}

td#content {
    padding: 20px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    height: 500px;
    vertical-align: top;
    background: url('../images/xbmc_logo.png') no-repeat bottom right #fff;
}

#content h1 {
    margin: 0px;
}

td.title {
    text-align: right;
    border-right: 1px solid #eee;
    color: #3E4967;
    width: 150px;
}

a.active {
    font-weight: bold;
}

th {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    color: #70C510;
}

div.console {
    font-family: "courier new";
    height: 100%;
    cursor: default;
}

ul {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
    list-style-type: none;
}

#footer td {
    font-size: 12px;
    color: #999;
    margin: 0px auto;
    text-shadow: 0 0 7px #aaa;
}

#loading .icon {
	width: 50px;
	height: 50px;
	float: left;
	background: url('../images/ajax_loader.gif') no-repeat center #fff;
}

#loading .message {
	float: right;
	padding: 10px;
	font-size: 16px;
	width: 320px;
	color: #000;
	overflow: auto;
	vertical-align: middle;
}