html, body {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    background-color: #efefef;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif !important;
}

td {
    padding: 4px;
}

a {
    text-decoration: none;
    color: #3E4967;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
}

input {
	padding: 3px;
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(62, 73, 103, 0.2);
}

input:focus {
    box-shadow: 0 0 5px rgba(112, 197, 16, 1);
    -webkit-box-shadow: 0 0 5px rgba(112, 197, 16, 1);
    -moz-box-shadow: 0 0 5px rgba(112, 197, 16, 1);
    border:1px solid rgba(62, 73, 103, 0.8);
}

input.working {
	background: url('../images/loading_16.gif') no-repeat right center;
}

td#steps h4 {
    font-size: 20px;
    color: #70C510;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

h1 {
	font-size: 20px;
	border-bottom: 1px dotted #efefef;
	color: #5a5a5a;
}

td#steps {
    width: 200px;
    border: 1px solid #ddd;
    padding: 20px;
    vertical-align: top;
    text-align: right;
    background-color: #fefefe;
    box-shadow: -6px 0px 10px -7px #888;
}

td#content {
    padding: 20px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    height: 500px;
    vertical-align: top;
    background: url('../images/xbmc_logo.png') no-repeat bottom right #fff;
    box-shadow: 6px 0px 10px -7px #888;
}

#content h1 {
    margin: 0px;
}

td.title {
    text-align: right;
    border-right: 1px solid #eee;
    color: #888;
    width: 140px;
}

a.active {
    font-weight: bold;
}

th {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    color: #70C510;
}

ul {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
    list-style-type: none;
}

#footer td {
    font-size: 12px;
    color: #999;
    margin: 0px auto;
    text-shadow: 0 0 7px #aaa;
}

#loading .icon {
	width: 50px;
	height: 50px;
	float: left;
	background: url('../images/ajax_loader.gif') no-repeat center #fff;
}

#loading .message {
	float: right;
	padding: 10px;
	font-size: 12px;
	width: 320px;
	color: #000;
	overflow: auto;
	vertical-align: middle;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0px;
}

.ui-widget, .ui-tooltip {
    font-size: 12px !important;
    font-family: 'Ubuntu', sans-serif !important;
}

.ui-button, .ui-button-text .ui-button {
	font-family: 'Ubuntu', sans-serif !important;
	font-size: 12px !important;
	font-weight: normal !important;
	line-height: 1.0 !important;
}