<script type="text/javascript">
	$(document).ready(function(){
		$('#systemCpuLoad').html($('#cpuLoad').html());
		$('#systemRamInUse').html($('#ramInUse').html());

		setInterval(function(){
			$('#systemCpuLoad').html($('#cpuLoad').html());
		}, 100);

		setInterval(function(){
			$('#systemRamInUse').html($('#ramInUse').html());
		}, 100);
	});
</script>

<table width="100%">
    <tr>
        <th colspan="2">
            Operating System
        </th>
    <tr>
    <tr>
        <td class="title">
            operating system
        </td>
        <td>
            {{ os }}
        </td>
    </tr>
    <tr>
        <td class="title">
            kernel version
        </td>
        <td>
            {{ kernel }}
        </td>
    </tr>
    <tr>
        <th colspan="2">
            CPU
        </th>
    <tr>
    <tr>
        <td class="title">
            cpu type
        </td>
        <td>
            {{ cpu_type }}
        </td>
    </tr>
    <tr>
        <td class="title">
            cpu cores
        </td>
        <td>
            {{ cpu_core_count }}
        </td>
    </tr>
    <tr>
        <td class="title">
            cpu load
        </td>
        <td>
            <span id="systemCpuLoad"></span> %
        </td>
    </tr>
    <tr>
        <th colspan="2">
            RAM
        </th>
    <tr>
    <tr>
        <td class="title">
            RAM in use
        </td>
        <td>
            <span id="systemRamInUse"></span>  MB
        </td>
    </tr>
    <tr>
        <td class="title">
            total RAM
        </td>
        <td>
            {{ total_ram }} MB
        </td>
    </tr>
    <tr>
        <th colspan="2">
            Graphics
        </th>
    <tr>
    <tr>
        <td class="title">
            gpu manufacturer
        </td>
        <td>
            {{ gpu_manufacturer }}
        </td>
    </tr>
    <tr>
        <td class="title">
            gpu type
        </td>
        <td>
            {{ gpu_type }}
        </td>
    </tr>
    <tr>
        <td class="title">
            current resolution
        </td>
        <td>
            {{ resolution }}
        </td>
    </tr>
    <tr>
        <td class="title">
            maximum resolution
        </td>
        <td>
            {{ max_resolution }}
        </td>
    </tr>
</table>
